.title-alt {
  font-family: 'Oswald', sans-serif;
}

.previous-orders-container {
  height: clamp(485px, 75vh, 80vh);
  padding: 16px;
  border: double thick var(--color-secondary);
  overflow: auto;
}

@media screen and (min-width: 992px) {
  .previous-orders-container {
    height: clamp(485px, 70vh, 75vh);
  }
}

/* ================ */
/* || Order Card || */
/* ================ */

.existing-order-card {
  width: 100%;
  padding: 16px;
  margin-right: 20px;
  outline: var(--double-outline);
}

/* =============== */
/* || Accordion || */
/* =============== */

.accordion-item:last-of-type .accordion-button.collapsed,
.accordion-item:last-of-type .accordion-collapse {
  border-radius: 0;
}

.accordion-button {
  background-color: var(--color-primary);
  box-shadow: 0 3px 8px 2px hsl(0, 0%, 13%);
}

.accordion-collapse {
  background-color: var(--color-secondary);
}

/* ================ */
/* || Order Info || */
/* ================ */

.order-info-container {
  text-align: center;
}

.order-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  justify-content: center;
}

/* =================== */
/* || Order Details || */
/* =================== */

.order-details-container {
  padding: 16px;
  margin: auto;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .order-details-container {
    width: 70%;
  }
}
