<div class="row">
  <div class="msg-container" id="addUserMsgContainer">
    <h5 class="alert alert-msg" id="addUserMsg">{{ addUserMessage }}</h5>
  </div>

  <div class="form-group-two">
    <div class="modal-selector-container">
      <div class="selector-group">
        <h4 class="selector-title">Store Users</h4>

        <div class="selector-container">
          <div *ngFor="let user of storeUsers"
            class="selector-option"
            id="{{ user._id }}"
            (click)="toRemove(user)">{{ user.username }}
          </div>
        </div>
      </div>
    </div>

    <div class="modal-selector-container">
      <div class="selector-group">
        <h4 class="selector-title">User List</h4>

        <div class="selector-container">
          <div *ngFor="let user of filteredUserList"
            class="selector-option"
            id="{{  user._id }}"
            (click)="toAdd(user)">{{ user.username }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="modal-btn-container">
    <button type="button"
      class="btn btn-secondary modal-btn"
      id="updateStoreUsersBtn"
      (click)="onUpdateStoreUsers()">Update</button>

    <button type="button"
      class="btn btn-secondary modal-btn"
      (click)="onCancel()">Cancel</button>
  </div>
</div>
