<div class="msg-container" id="deleteMsgContainer">
  <div class="alert alert-msg" id="deleteResult">{{ deleteMessage }}</div>
</div>

<h4 class="modal-title">Are you sure you want to delete {{ targetItem?.name }}?</h4>

<div class="row modal-btn-container">
  <button type="button"
    class="btn btn-secondary modal-btn"
    id="deleteItemBtn"
    (click)="onDelete()">Yes</button>

  <button type="button"
    class="btn btn-secondary modal-btn"
    data-bs-dismiss="modal"
    (click)="onCancelDelete()">No</button>
</div>
