<div class="row">
  <form [formGroup]="addUser" (ngSubmit)="onCreateUser()">
    <div class="form-group">
      <label for="registerUsername">Username:</label>

      <input type="text"
        class="form-field"
        id="registerUsername"
        formControlName="username">
    </div>

    <div class="form-group password-group">
      <label for="registerPassword">Password:</label>

      <input type="password"
        class="form-field"
        id="registerPassword"
        formControlName="password">

      <i class="far fa-eye show-password"
        aria-label="Show Password"
        (click)="onTogglePassword('#registerPassword')"></i>

      <i class="far fa-eye-slash hide-password"
        aria-label="Hide Password"
        (click)="onTogglePassword('#registerPassword')"></i>
    </div>

    <div class="row home-btn-container">
      <button type="submit"
        class="btn btn-secondary btn-home"
        id="createUserBtn">Create Account</button>
    </div>
  </form>
</div>
