<div class="container">
  <h1 class="page-title">Manage Users</h1>
  
  <div class="msg-container" id="manageUserMsgContainer">
    <h5 class="alert alert-msg" id="manageUserMsg">{{ manageUserMessage }}</h5>
  </div>

  <div class="row scrollable">
    <table class="table-body">
      <tr>
        <th class="table-center">Edit</th>

        <th>Username</th>

        <th class="table-center">Account Type</th>

        <th class="table-center">Remove User</th>
      </tr>

      <tr *ngFor="let user of manageUsers" class="table-entry">
        <td class="table-center">
          <button type="button"
            class="btn btn-secondary"
            aria-label="Edit Account Type"
            (click)="onEditUser(user)"><i class="far fa-edit"></i></button>
        </td>

        <td>
          <span>{{ user.username }}</span>
        </td>

        <td class="table-center">
          <span>{{ user.accountType }}</span>
        </td>

        <td class="table-center">
          <button type="button"
            class="btn btn-secondary"
            aria-label="Remove User"
            (click)="onRemoveUser(user)"><i class="fas fa-user-slash"></i></button>
        </td>
      </tr>
    </table>
  </div>

  <div class="row table-end">
    <button type="button"
      class="btn btn-secondary table-end-btn"
      (click)="getManageUserList()">Manage Users</button>

    <button type="button"
      class="btn btn-secondary table-end-btn"
      (click)="onBack()">Back</button>
  </div>
</div>

<div class="modal fade" id="editUserAccountTypeModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Account Type</h5>

        <button type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <app-edit-user-account-type [accountTypeForm]="accountTypeForm"></app-edit-user-account-type>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmRemovalModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Remove User</h5>

        <button type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <app-remove-user></app-remove-user>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="manageUserModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Manage Users</h5>

        <button type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <app-add-user [storeUsers]="manageUsers" [filteredUserList]="filteredUserList"></app-add-user>
      </div>
    </div>
  </div>
</div>
