<div class="container">
  <div class="msg-container" id="manageUserMsgContainer">
    <h5 class="alert alert-msg" id="manageUserMsg">{{ manageUserMessage }}</h5>
  </div>

  <div class="row scrollable">
    <table class="table-body">
      <tr>
        <th class="table-center">Edit</th>

        <th class="table-left">Username</th>

        <th class="table-center">Account Type</th>

        <th class="table-center">Remove User</th>
      </tr>

      <tr *ngFor="let user of manageUsers" class="table-entry">
        <th class="table-center">
          <button type="button"
            class="btn btn-secondary"
            (click)="onEditUser(user)"><i class="far fa-edit"></i></button>
        </th>

        <td class="table-left">
          <span>{{ user.username }}</span>
        </td>

        <td class="table-center">
          <span>{{ user.accountType }}</span>
        </td>

        <td class="table-center">
          <button type="button"
            class="btn btn-secondary"
            (click)="onRemoveUser(user)">Remove</button>
        </td>
      </tr>
    </table>
  </div>

  <div class="row table-end">
    <button type="button"
      class="btn btn-secondary table-end-btn"
      (click)="getFullUserList()">Manage Users</button>

    <button type="button"
      class="btn btn-secondary table-end-btn"
      (click)="onBack()">Back</button>
  </div>
</div>

<div class="modal fade"
  id="editUserAccountTypeModal"
  tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Account Type</h5>

        <button type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <app-edit-user-account-type [accountTypeForm]="accountTypeForm"
          [editUserAccountTypeMessage]="editUserMessage"></app-edit-user-account-type>
      </div>
    </div>
  </div>
</div>

<div class="modal fade"
  id="manageUserModal"
  tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Manage Users</h5>

        <button type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <app-add-user [storeUsers]="manageUsers"
        [addUserMessage]="fullUserListError"
        [filteredUserList]="filteredUserList"></app-add-user>
      </div>
    </div>
  </div>
</div>
