<div class="container">
  <h1 class="page-title">Order Report</h1>

  <div id="orderSummaryForm">
    <form id="searchCriteria"
      [formGroup]="orderDetails"
      (ngSubmit)="onSearchOrders()">
      <div id="dateInputFields">
        <input type="text"
          class="form-field two-ch"
          id="orderMonth"
          maxlength="2"
          placeholder="MM"
          (keyup)="onDateKeyDown($event, 'month', '#orderDay')"
          formControlName="month">/
  
        <input type="text"
          class="form-field two-ch"
          id="orderDay"
          maxlength="2"
          placeholder="DD"
          (keyup)="onDateKeyDown($event, 'day', '#orderYear')"
          formControlName="day">/
  
        <input type="text"
          class="form-field two-ch date-year"
          id="orderYear"
          maxlength="4"
          placeholder="YYYY"
          formControlName="year">
      </div>

      <div id="searchCriteriaBtnContainer">
        <button type="button"
          class="btn btn-secondary"
          data-bs-toggle="modal"
          data-bs-target="#storeSelectionModal">Select Store</button>
  
        <button type="submit"
          class="btn btn-secondary"
          id="manageOrdersBtn">Search</button>
      </div>

      <div *ngIf="month?.invalid" class="error-text">
        <span *ngIf="month?.errors?.['pattern']">Please enter a two digit number for the month</span>
      </div>

      <div *ngIf="day?.invalid" class="error-text">
        <span *ngIf="day?.errors?.['pattern']">Please enter a two digit number for the day</span>
      </div>

      <div *ngIf="year?.invalid" class="error-text">
        <span *ngIf="year?.errors?.['pattern']">Please enter a four digit number for the year</span>
      </div>
    </form>
  </div>

  <div class="msg-container" id="manageOrdersMsgContainer">
    <h5 class="alert alert-msg" id="manageOrdersMsg">{{ manageOrdersMessage }}</h5>
  </div>

  <div class="row scrollable">
    <table>
      <tr id="orderTableHeader">
        <th class="order-header">
          <h6 class="table-header">Order ID</h6>
        </th>

        <th class="order-header clickable">
          <h6 class="table-header" (click)="onSortOrders('date')">
            <i class="fas fa-sort-up" id="dateOrderList"></i>
            <i class="fas fa-sort-down hide" id="dateOrderListReverse"></i>&nbsp;Date</h6>
        </th>

        <th class="order-header clickable" (click)="onSortOrders('store')">
          <h6 class="table-header">
            <i class="fas fa-sort-up" id="storeOrderList"></i>
            <i class="fas fa-sort-down hide" id="storeOrderListReverse"></i>&nbsp;Store</h6>
        </th>

        <th class="order-header clickable order-center" (click)="onSortOrders('totalValue')">
          <h6 class="table-header">
            <i class="fas fa-sort-up" id="totalValueOrderList"></i>
            <i class="fas fa-sort-down hide" id="totalValueOrderListReverse"></i>&nbsp;Total</h6>
        </th>

        <th class="order-header order-center">
          <h6 class="table-header">Details</h6>
        </th>
      </tr>

      <ng-container *ngFor="let order of orderList">
        <tr class="order-details">
          <td class="order-data">{{ order._id }}</td>

          <td class="order-data">{{ order.date }}</td>

          <td class="order-data">
            <div class="store-name">{{ $any(order).store[0].name }}</div>

            <div class="store-location">{{ $any(order).store[0].street }} {{ $any(order).store[0].city }}, {{ $any(order).store[0].state }} {{ $any(order).store[0].zip }}</div>
          </td>

          <td class="order-data order-center">{{ order.orderTotal }}</td>

          <td class="order-data order-center">
            <button class="btn btn-secondary"
              aria-label="Order Details"
              (click)="onOrderDetails(order)"><i class="fas fa-file-alt"></i></button>
          </td>
        </tr>
      </ng-container>

      <tr>
        <td colspan="5">
          <div class="order-summary">
            <h5 class="order-summary-details">Orders: {{ orderCount }}</h5>

            <button class="btn btn-sm btn-outline-secondary summary-details-btn"
              aria-label="Item Summary Details"
              (click)="onShowSummaryDetails('item')">
              <i class="fas fa-file-alt btn-icon"></i>&nbsp;

              <h5 class="order-summary-details">Items: {{ itemCount }}</h5>
            </button>
  
            <button class="btn btn-sm btn-outline-secondary summary-details-btn"
              aria-label="Ingredient Summary Details"
              (click)="onShowSummaryDetails('ingredient')">
              <i class="fas fa-file-alt btn-icon"></i>&nbsp;

              <h5 class="order-summary-details">Ingredients: {{ ingredientCount }}</h5>
            </button>
  
            <h5 class="order-summary-details">Summary Total: {{ summaryTotal }}</h5>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="modal fade"
  id="storeSelectionModal"
  tabindex="-1"
  aria-labelledby="storeSelectionModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title title">Select Stores</h5>

        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div id="storeSelectionContainer">
          <ng-container *ngFor="let store of storeList">
            <button class="btn btn-outline-custom selection-btn"
              id="orders{{ store._id }}"
              (click)="onSelectStore(store._id)">
              <div id="plusContainer{{ store._id }}">
                <i class="fas fa-plus selection-plus"></i>
              </div>

              <div class="minus-container" id="minusContainer{{ store._id }}">
                <i class="fas fa-minus selection-minus"></i>
              </div>

              <span class="icon-btn-text">{{ store.name }}</span>
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade"
  id="orderDetailsModal"
  tabindex="-1"
  aria-labelledby="orderDetailsModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header summary-modal-header">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>

        <div class="modal-order-details">
          <h4 class="text-center order-id ">{{ $any(selectedOrder)?._id }}</h4>
  
          <h4 class="text-center title">{{ $any(selectedOrder)?.store[0].name }}</h4>
  
          <h5 class="text-center sub-title">{{ $any(selectedOrder)?.store[0].street }} {{ $any(selectedOrder)?.store[0].city }}, {{ $any(selectedOrder)?.store[0].state }} {{ $any(selectedOrder)?.store[0].zip }}</h5>

          <h5 class="text-center sub-title">{{ selectedOrder?.date }}</h5>
        </div>
      </div>

      <div class="modal-body">
        <div class="summary-item">
          <h6 class="summary-details-header text-center">Qty.</h6>

          <h6 class="summary-details-header">Name</h6>

          <h6 class="summary-details-header text-center">Cost</h6>
        </div>

        <ng-container *ngFor="let item of $any(selectedOrder)?.orderItems | keyvalue">
          <div class="summary-item">
            <div class="text-center">{{ $any(item)?.value.quantity }}</div>
  
            <div class="summary-item-details">
              <div>{{ $any(item)?.value.name }}</div>

              <div *ngFor="let ingredient of $any(item)?.value.ingredients">
                > {{ ingredient }}
              </div>
            </div>

            <div class="text-center">{{ $any(item)?.value.displayCost }}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div class="modal fade"
  id="summaryModal"
  tabindex="-1"
  aria-labelledby="summaryDetailsModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title title">{{ summaryTarget }} Summary</h5>

        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div id="itemSummary">
          <div class="summary-table-container" id="itemSummaryTable">
            <table class="summary-table">
              <tr class="modal-table-row">
                <th class="summary-header">
                  <h6 class="table-header">Name</h6>
                </th>
  
                <th class="summary-header">
                  <h6 class="table-header justify-center">Qty.</h6>
                </th>
              </tr>
  
              <ng-container *ngFor="let item of itemObj | keyvalue">
                <tr class="modal-table-row">
                  <td class="summary-data">{{ $any(item).value.name }}</td>
  
                  <td class="summary-data text-center">{{ $any(item).value.quantity }}</td>
                </tr>
              </ng-container>
            </table>
          </div>

          <div class="summary-table-container" id="ingredientSummaryTable">
            <table class="summary-table">
              <tr class="modal-table-row">
                <th class="summary-header">
                  <h6 class="table-header">Name</h6>
                </th>
  
                <th class="summary-header">
                  <h6 class="table-header justify-center">Qty.</h6>
                </th>
              </tr>
  
              <ng-container *ngFor="let ingredient of ingredientObj | keyvalue">
                <tr class="modal-table-row">
                  <td class="summary-data">{{ $any(ingredient).value.name }}</td>
  
                  <td class="summary-data text-center">{{ $any(ingredient).value.quantity }}</td>
                </tr>
              </ng-container>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
