/* ========== */
/* || Date || */
/* ========== */

#searchCriteria {
  display: flex;
  flex-direction: column;
}

#dateInputFields,
#searchCriteriaBtnContainer {
  margin: 4px auto;
}

#dateInputFields>*,
#searchCriteriaBtnContainer>* {
  margin: 0 5px;
}

#dateInputFields>*:first-child,
#searchCriteriaBtnContainer>*:first-child {
  margin-left: 0;
}

#dateInputFields>*:last-child,
#searchCriteriaBtnContainer>*:last-child {
  margin-right: 0;
}

.error-text {
  text-align: center;
}

/* =================== */
/* || Modal Content || */
/* =================== */

#storeSelectionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
}

/* =========== */
/* || Table || */
/* =========== */

table {
  border-spacing: 5px;
  border-collapse: separate;
}

table, td {
  border: 1px solid black;
}

td {
  padding: 8px;
}

.table-header {
  display: flex;
  align-items: center;
  margin: 0;
}

.order-header,
.order-data {
  min-width: 240px;
}

.order-price {
  min-width: 75px;
  text-align: center;
}
