#searchCriteria {
  display: flex;
  align-items: center;
}

/* =================== */
/* || Modal Content || */
/* =================== */

#storeSelectionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
}
