/* ============= */
/* || Message || */
/* ============= */

#ingredientListMsg {
  margin: auto;
  width: var(--base-width);
}

/* =========== */
/* || Table || */
/* =========== */

.table-body {
  max-width: var(--base-width);
}
