/* ============= */
/* || Message || */
/* ============= */

#ingredientListMsg {
  margin: auto;
  width: var(--base-width);
}

/* =========== */
/* || Table || */
/* =========== */

.table-body {
  max-width: var(--base-width);
}

/* ============== */
/* || Skeleton || */
/* ============== */

.skeleton-btn {
  width: 3rem;
}

.skeleton-data-wide {
  width: 10rem;
  margin: 0;
}

.skeleton-data-wide-alt {
  width: 14rem;
  margin: 0;
}
