<div class="container">
  <h1 class="page-title">Ingredient List</h1>
  
  <div class="msg-container" id="ingredientListMsgContainer">
    <h5 class="alert alert-msg" id="ingredientListMsg">{{ errorMessage }}</h5>
  </div>

  <div class="row scrollable">
    <table class="table-body">
      <tr>
        <th class="table-center">Edit</th>

        <th class="table-name sortable" (click)="sortList()">
          <i class="fas fa-sort-up" id="ingredientListName"></i>
          <i class="fas fa-sort-down hide" id="ingredientListNameReverse"></i> Name</th>

        <th class="table-center">Delete</th>
      </tr>

      <tr class="table-entry skeleton-entry">
        <td><div class="skeleton-btn"></div></td>
        <td><div class="skeleton-data-wide-alt"></div></td>
        <td><div class="skeleton-btn"></div></td>
      </tr>

      <tr class="table-entry skeleton-entry">
        <td><div class="skeleton-btn"></div></td>
        <td><div class="skeleton-data-wide"></div></td>
        <td><div class="skeleton-btn"></div></td>
      </tr>

      <tr class="table-entry skeleton-entry">
        <td><div class="skeleton-btn"></div></td>
        <td><div class="skeleton-data-wide-alt"></div></td>
        <td><div class="skeleton-btn"></div></td>
      </tr>

      <tr class="table-entry skeleton-entry">
        <td><div class="skeleton-btn"></div></td>
        <td><div class="skeleton-data-wide"></div></td>
        <td><div class="skeleton-btn"></div></td>
      </tr>

      <tr class="table-entry skeleton-entry">
        <td><div class="skeleton-btn"></div></td>
        <td><div class="skeleton-data-wide-alt"></div></td>
        <td><div class="skeleton-btn"></div></td>
      </tr>
      <tr class="table-entry skeleton-entry">
        <td><div class="skeleton-btn"></div></td>
        <td><div class="skeleton-data-wide"></div></td>
        <td><div class="skeleton-btn"></div></td>
      </tr>

      <tr class="table-entry skeleton-entry">
        <td><div class="skeleton-btn"></div></td>
        <td><div class="skeleton-data-wide-alt"></div></td>
        <td><div class="skeleton-btn"></div></td>
      </tr>

      <tr class="table-entry skeleton-entry">
        <td><div class="skeleton-btn"></div></td>
        <td><div class="skeleton-data-wide"></div></td>
        <td><div class="skeleton-btn"></div></td>
      </tr>

      <tr class="table-entry" *ngFor="let ingredient of ingredientList">
        <td class="table-center">
          <button type="button"
            class="btn btn-secondary"
            aria-label="Edit Ingredient"
            (click)="onEditIngredient(ingredient)"><i class="far fa-edit"></i></button>
        </td>

        <td>
          <span class="ingredient-name">{{ ingredient.name }}</span>
        </td>

        <td class="table-center">
          <button type="button"
            class="btn btn-secondary"
            aria-label="Delete Ingredient"
            (click)="onDeleteIngredient(ingredient)"><i class="fas fa-trash"></i></button>
        </td>
      </tr>
    </table>
  </div>

  <div class="row table-end">
    <button type="button"
      class="btn btn-secondary table-end-btn"
      (click)="onCreateIngredient()">Create Ingredient</button>

    <button type="button"
      class="btn btn-secondary table-end-btn"
      (click)="onBack()">Back</button>
  </div>
</div>

<div class="modal fade" id="editIngredientModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title title">Edit Ingredient</h5>

        <button type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <app-edit-ingredient [targetIngredient]="targetIngredient" [editIngredient]="editIngredientForm"></app-edit-ingredient>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteIngredientModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title title">Delete Ingredient</h5>

        <button type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <app-delete-ingredient [targetIngredient]="targetIngredient"></app-delete-ingredient>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="createIngredientModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title title">Add Ingredient</h5>

        <button type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <app-create-ingredient [createIngredient]="createIngredientForm"></app-create-ingredient>
      </div>
    </div>
  </div>
</div>
