/* =========== */
/* || Table || */
/* =========== */

.table-body {
  margin: auto;
}

.table-end {
  display: flex;
  justify-content: center;
  column-gap: .65rem;
  margin-top: 1rem;
}

.table-end-btn {
  width: 9rem;
}

@media screen and (min-width: 485px) {
  .table-body {
    width: var(--base-width);
  }
}
