<div class="row">
  <form [formGroup]="addUser" (ngSubmit)="onCreateUser()">
    <div class="form-group">
      <label for="registerUsername">Username:</label>

      <input type="text"
        class="form-field"
        id="registerUsername"
        required
        formControlName="username">

      <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="error-text">
        <span *ngIf="username?.errors?.['required']">Username is required</span>

        <span *ngIf="username?.errors?.['pattern']">{{ usernameError }}</span>
      </div>
    </div>

    <div class="form-group password-group">
      <label for="registerPassword">Password:</label>

      <input type="password"
        class="form-field"
        id="registerPassword"
        required
        formControlName="password">

      <i class="far fa-eye show-password"
        aria-label="Show Password"
        (click)="onTogglePassword('#registerPassword')"></i>

      <i class="far fa-eye-slash hide-password"
        aria-label="Hide Password"
        (click)="onTogglePassword('#registerPassword')"></i>

      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-text">
        <span *ngIf="password?.errors?.['required']">Password is required</span>

        <span *ngIf="password?.errors?.['pattern']">{{ passwordError }}</span>
      </div>
    </div>

    <div class="row home-btn-container">
      <button type="submit"
        class="btn btn-secondary btn-home"
        id="createUserBtn">Create Account</button>
    </div>
  </form>
</div>
