<div class="container">
  <h1 class="page-title">User List</h1>

  <div class="msg-container" id="userListMsgContainer">
    <h5 class="alert alert-msg" id="userListMsg">{{ userListMessage }}</h5>
  </div>

  <div class="row scrollable">
    <table class="table-body">
      <tr>
        <th class="table-center">Edit</th>

        <th class="sortable" (click)="sortList('username')">
          <i class="fas fa-sort-up" id="userListUsername"></i>
          <i class="fas fa-sort-down hide" id="userListUsernameReverse"></i> Username</th>

        <th class="table-center sortable" (click)="sortList('accountType')">
          <i class="fas fa-sort-up" id="userListAccountType"></i>
          <i class="fas fa-sort-down hide" id="userListAccountTypeReverse"></i> Account Type</th>

        <th class="table-center">Rest Password</th>

        <th class="table-center">Delete User</th>
      </tr>

      <tr *ngFor="let user of userList" class="table-entry">
        <td class="table-center">
          <button type="button"
            class="btn btn-secondary"
            aria-label="Edit User"><i class="far fa-edit"></i></button>
        </td>

        <td>
          <span>{{ user.username }}</span>
        </td>

        <td class="table-center">
          <span>{{ user.accountType }}</span>
        </td>

        <td class="table-center">
          <button class="btn btn-secondary"
            aria-label="Reset Password"
            (click)="onResetPassword(user)">
            <i class="fas fa-undo-alt"></i></button>
        </td>

        <td class="table-center">
          <button type="button"
            class="btn btn-secondary"
            aria-label="Delete User"
            (click)="onDeleteUser(user)"><i class="fas fa-trash"></i></button>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="modal fade" id="resetPasswordModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reset Password</h5>

        <button type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <app-reset-password [targetUser]="targetUser"></app-reset-password>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteUserModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete User</h5>

        <button type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <app-delete-user [targetUser]="targetUser"></app-delete-user>
      </div>
    </div>
  </div>
</div>
