<div class="container">
  <div class="row">
    <table>
      <tr>
        <th class="table-left">Name</th>
        <th class="table-center">Price</th>
        <th class="table-center">Active</th>
        <th class="table-center">Available</th>
        <th class="table-center">Edit</th>
        <th class="table-center">Delete</th>
      </tr>
  
      <tr *ngFor="let item of itemList">
        <td class="table-left">{{ item.name }}</td>
        <td class="table-center">{{ item.price }}</td>
        <td class="table-center">{{ item.active }}</td>
        <td class="table-center">{{ item.available }}</td>

        <td class="table-center">
          <button type="button"
            class="btn btn-secondary"
            data-bs-toggle="modal"
            data-bs-target="#editItemModal"
            (click)="onTargetItem(item, '#editMsgContainer')">Edit</button>
        </td>

        <td class="table-center">
          <button class="btn btn-secondary"
            data-bs-toggle="modal"
            data-bs-target="#deleteItem"
            (click)="onTargetItem(item, '#deleteMsgContainer')">Delete</button>
        </td>
      </tr>
    </table>
  </div>
  
  <div class="row table-end">
    <button class="btn btn-secondary table-end-btn"
      (click)="onBack()">Back</button>

    <button class="btn btn-secondary table-end-btn"
      data-bs-toggle="modal"
      data-bs-target="#createItemModal"
      (click)="onAddItem()">Add Item</button>
  </div>
</div>

<div class="modal fade"
  id="editItemModal"
  tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Item</h5>

        <button type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <app-edit-item-details [targetItem]="targetItem"></app-edit-item-details>
      </div>
    </div>
  </div>
</div>

<div class="modal fade"
  id="createItemModal"
  tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Item</h5>

        <button type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <app-create-item></app-create-item>
      </div>
    </div>
  </div>
</div>

<div class="modal fade"
  id="deleteItem"
  tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Deletion</h5>

        <button type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div id="deleteMsgContainer">
          <div class="alert" id="deleteResult">{{ deleteMessage }}</div>
        </div>
        
        <h4 class="confirm-text">Are you sure you want to delete {{ targetItem?.name }}?</h4>

        <div class="row modal-btn-container">
          <button type="button"
            class="btn btn-secondary modal-btn"
            (click)="onDelete()">Yes</button>

          <button type="button"
            class="btn btn-secondary modal-btn"
            data-bs-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
