/* ============= */
/* || Message || */
/* ============= */

#itemListMsg {
  margin: auto;
  width: var(--base-width-wide);
}

/* =========== */
/* || Table || */
/* =========== */

.btn-padding {
  padding: 8px 4px;
}

@media screen and (min-width: 768px) {
  .table-end {
    justify-content: flex-end;
  }
}
