<div class="container">
  <h1 class="page-title">Item List</h1>
  
  <div class="msg-container" id="itemListMsgContainer">
    <h5 class="alert alert-msg" id="itemListMsg">{{ itemListMessage }}</h5>
  </div>

  <div class="row scrollable">
    <table class="table-body">
      <tr>
        <th class="table-name">Name</th>
        <th class="table-center table-data">Price</th>
        <th class="table-center table-data">Active</th>
        <th class="table-center table-data">Available</th>
        <th class="table-center table-data">Edit Details</th>
        <th class="table-center">Edit Ingredients</th>
        <th class="table-center">Delete</th>
      </tr>
  
      <tr class="table-entry" *ngFor="let item of itemList">
        <td>{{ item.name }}</td>
        <td class="table-center">{{ item.price }}</td>
        <td class="table-center table-data">{{ item.active }}</td>
        <td class="table-center table-data">{{ item.available }}</td>

        <td class="table-center btn-padding">
          <button type="button"
            class="btn btn-secondary"
            aria-label="Edit Details"
            (click)="onEditDetails(item)"><i class="far fa-edit"></i> Details</button>
        </td>
        
        <td class="table-center btn-padding">
          <button type="button"
            class="btn btn-secondary"
            aria-label="Edit Ingredients"
            (click)="onEditItemIngredients(item)"><i class="far fa-edit"></i> Ingredients</button>
        </td>

        <td class="table-center">
          <button type="button"
            class="btn btn-secondary"
            aria-label="Delete Item"
            (click)="onDeleteItem(item)"><i class="fas fa-trash"></i></button>
        </td>
      </tr>
    </table>
  </div>
  
  <div class="row table-end">
    <button class="btn btn-secondary table-end-btn"
      (click)="onCreateItem()">Create Item</button>
    
    <button class="btn btn-secondary table-end-btn"
      (click)="onBack()">Back</button>
  </div>
</div>

<div class="modal fade" id="editItemModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Item</h5>

        <button type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <app-edit-item-details [targetItem]="targetItem" [editItem]="editForm"></app-edit-item-details>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editItemIngredientsModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Item Ingredients</h5>

        <button type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <app-edit-item-ingredients [targetItem]="targetItem"
          [ingredientList]="targetIngredients"
          [fullIngredientList]="fullIngredientList"></app-edit-item-ingredients>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="createItemModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Item</h5>

        <button type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <app-create-item></app-create-item>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteItemModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Deletion</h5>

        <button type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <app-delete-item [targetItem]="targetItem"></app-delete-item>
      </div>
    </div>
  </div>
</div>
