/* ============= */
/* || Message || */
/* ============= */

#itemListMsg {
  margin: auto;
  width: var(--base-width-wide);
}

/* =========== */
/* || Table || */
/* =========== */

.btn-padding {
  padding: 8px 4px;
}

@media screen and (min-width: 768px) {
  .table-end {
    justify-content: flex-end;
  }
}

/* ============== */
/* || Skeleton || */
/* ============== */

.skeleton-data {
  width: 4rem;
}

.skeleton-data-alt {
  width: 5rem;
}

.skeleton-data-wide {
  width: 8rem;
  margin: 0;
}

.skeleton-data-wide-alt {
  width: 6rem;
  margin: 0;
}

.skeleton-btn {
  width: 3rem;
}

.skeleton-btn-wide {
  width: 6rem;
}
