.table-body {
  max-width: var(--base-width);
}

#manageUserMsg {
  margin: auto;
  width: var(--base-width);
}

/* ============== */
/* || Skeleton || */
/* ============== */

.skeleton-btn {
  width: 3rem;
}

.skeleton-data {
  width: 5rem;
}

.skeleton-data-alt {
  width: 4rem;
}

.skeleton-data-wide {
  width: 8rem;
  margin: 0;
}

.skeleton-data-wide-alt {
  width: 10rem;
  margin: 0;
}
