<div class="container">
  <div class="msg-container" id="storeMsgContainer">
    <h5 class="alert alert-msg" id="storeMsg">{{ storeListMessage }}</h5>
  </div>

  <div class="row store-container" *ngFor="let store of storeList">
    <div class="container store-details">
      <h3 class="store-title">{{ store.name }}</h3>
  
      <h5 class="store-location">{{ store.street }}</h5>
      
      <h5 class="store-location">{{ store.city }}, {{ store.state }} {{ store.zip }}</h5>
    </div>

    <div class="container store-actions-container">
      <ul class="store-actions-list">
        <li class="store-action" (click)="onStoreActionRedirect('order-list', store._id)">View/Edit Orders</li>

        <li class="store-action" (click)="onStoreActionRedirect('item-list', store._id)">View/Edit Items</li>

        <li class="store-action" (click)="onStoreActionRedirect('ingredient-list', store._id)">View/Edit Ingredients</li>

        <li class="store-action" (click)="onStoreActionRedirect('store-details', store._id)">Store Details</li>

        <li class="store-action" (click)="onStoreActionRedirect('manage-user', store._id)">Manage Users</li>

        <li class="store-action" id="delete">Delete Store</li>
      </ul>
    </div>
  </div>
</div>
