/* ================== */
/* || Search Group || */
/* ================== */

.search-group-container {
  margin: auto;
  padding: 16px 0;
  position: sticky;
  top: 0;
  background-color: var(--color-background);
  max-width: var(--base-width-wide);
}

.search-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0;
}

.search-form {
  width: 100%;
}

@media screen and (min-width: 450px) {
  .search-group {
    padding: 0 12px;
  }

  .search-form {
    width: 60%;
  }
}

/* ===================== */
/* || Create Location || */
/* ===================== */

#createLocation {
  white-space: nowrap;
  width: fit-content;
}

/* ============= */
/* || Message || */
/* ============= */

#storeMsg {
  margin-top: 2rem;
}

/* =================== */
/* || Store Details || */
/* =================== */

.store-container {
  margin: 2rem auto;
  padding: 16px 0;
  max-width: var(--base-width-wide);
  background-color: var(--color-primary);
  border: solid 1px var(--color-secondary);
}

.store-details {
  margin-bottom: 1rem;
  text-align: center;
}

@media screen and (min-width: 425px) {
  .store-container {
    padding: 16px 32px;
  }
}

/* =================== */
/* || Store Actions || */
/* =================== */

.store-actions-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  margin: 0;
  padding: 0;
}

.store-action {
  margin: 8px auto;
  list-style: none;
}

.store-action:hover {
  cursor: pointer;
  color: var(--color-tertiary);
}
