/* =================== */
/* || Store Details || */
/* =================== */

.store-container {
  margin: 2rem auto;
  max-width: var(--base-width-wide);
  background-color: var(--color-primary);
}

.store-details {
  margin-bottom: 1rem;
  text-align: center;
}

/* =================== */
/* || Store Actions || */
/* =================== */

.store-actions-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 0;
  text-align: center;
}

.store-action {
  margin: 8px auto;
  list-style: none;
}

.store-action:hover {
  cursor: pointer;
  color: var(--color-tertiary);
}
