<div class="container" id="storeListContainer">
  <div class="row search-group-container">
    <div class="search-group">
      <div class="search-form">
        <app-search-store></app-search-store>
      </div>
  
      <button *ngIf="accountType.manager"
        type="button"
        class="btn btn-secondary"
        id="createLocation"
        (click)="onCreateStore()"><i class="fas fa-store-alt"></i>&nbsp;Create Store</button>
    </div>
    
    <div class="msg-container" id="storeMsgContainer">
      <h5 class="alert alert-msg" id="storeMsg">{{ storeListMessage }}</h5>
    </div>
  </div>

  <div appStoreListIntersection></div>

  <div class="row store-container" *ngFor="let store of storeList">
    <div class="container store-details">
      <h3 class="store-title">{{ store.name }}</h3>
  
      <h5 class="store-location">{{ store.street }}</h5>
      
      <h5 class="store-location">{{ store.city }}, {{ store.state }} {{ store.zip }}</h5>
    </div>

    <div class="container store-actions-container">
      <ul class="store-actions-list">
        <li class="store-action" (click)="onStoreActionRedirect('order-list', store._id)">View/Edit Orders</li>

        <li *ngIf="accountType.manager"
          class="store-action"
          (click)="onStoreActionRedirect('item-list', store._id)">View/Edit Items</li>

        <li *ngIf="accountType.manager"
          class="store-action"
          (click)="onStoreActionRedirect('ingredient-list', store._id)">View/Edit Ingredients</li>

        <li *ngIf="accountType.manager"
          class="store-action"
          (click)="onStoreActionRedirect('store-details', store._id)">Store Details</li>

        <li *ngIf="accountType.manager"
          class="store-action"
          (click)="onStoreActionRedirect('manage-user', store._id)">Manage Users</li>

        <li *ngIf="accountType.manager"
          class="store-action"
          (click)="onDeleteStore(store)">Delete Store</li>
      </ul>
    </div>
  </div>
</div>

<div class="fixed-element">
  <button type="button"
    class="btn btn-secondary"
    id="toTopBtn"
    (click)="onGoToTop()">Back to Top</button>
</div>

<div class="modal fade" id="deleteStoreModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Store Deletion</h5>

        <button type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <app-delete-store [targetStore]="targetStore!"></app-delete-store>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="createStoreModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Store</h5>

        <button type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <app-create-store [createStore]="createStore"></app-create-store>
      </div>
    </div>
  </div>
</div>
