<div class="row modal-form-container">
  <div class="msg-container" id="createItemMsgContainer">
    <h5 class="alert alert-msg" id="createItemMsg">{{ addMessage }}</h5>
  </div>

  <form [formGroup]="createItem" (ngSubmit)="onCreateItem()">
    <section class="form-group-two">
      <div class="form-group">
        <label for="itemName">Name:</label>
    
        <input type="text"
          class="form-field"
          id="itemName"
          formControlName="name">
      </div>
  
      <div class="form-group">
        <label for="itemPrice">Price:</label>
  
        <input type="text"
          class="form-field"
          id="itemPrice"
          formControlName="price"
          placeholder="0.00">
      </div>
    </section>

    <section class="form-group form-section">
      <label class="form-section-title" for="itemActive">Active:</label>
  
      <div class="radio-container" id="itemActive">
        <label class="radio-item" for="itemActiveTrue">
          <input type="radio"
            class="radio-item"
            id="itemActiveTrue"
            formControlName="active"
            value="true"> True
        </label>
        
        <label class="radio-item" for="itemActiveFalse">
          <input type="radio"
            class="radio-item"
            id="itemActiveFalse"
            formControlName="active"
            value="false"> False
        </label>
      </div>
    </section>

    <section class="form-group form-section">
      <label class="form-section-title" for="itemAvailable">Available:</label>

      <div class="radio-container" id="itemAvailable">
        <label class="radio-item" for="itemAvailableTrue">
          <input type="radio"
            class="radio-item"
            id="itemAvailableTrue"
            formControlName="available"
            value="true"> True
        </label>
    
        <label class="radio-item" for="itemAvailableFalse">
          <input type="radio"
            class="radio-item"
            id="itemAvailableFalse"
            formControlName="available"
            value="false"> False
        </label>
      </div>
    </section>

    <div class="row modal-btn-container">
      <button type="submit"
        class="btn btn-secondary modal-btn"
        id="createItemBtn">Create Item</button>

      <button type="button"
        class="btn btn-secondary modal-btn"
        (click)="onCancelCreate()">Cancel</button>
    </div>
  </form>
</div>
