<nav *ngIf="activeUser" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="offcanvas-btn-container">
      <button type="button"
        class="btn offcanvas-toggler"
        data-bs-toggle="offcanvas"
        data-bs-target="#navbarOffcanvas"
        aria-controls="navbarOffcanvas">
        <span><i class="fas fa-bars"></i></span>
      </button>
    </div>

    <div class="offcanvas offcanvas-end"
      id="navbarOffcanvas"
      tabindex="-1"
      aria-labelledby="navbarOffcanvas">
      <div class="offcanvas-header">
        <button type="button"
          class="btn-close btn-close-white offcanvas-close-btn"
          data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>

      <div class="offcanvas-body navbar-list-container">
        <ul class="navbar-nav" appNavIntersection>
          <li class="nav-item">
            <a class="nav-link"
              id="navStoreList"
              (click)="onNavRedirect('store-list')">Store List</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"
              id="navManageOrders"
              (click)="onNavRedirect('manage-orders')">Order Report</a>
          </li>

          <li *ngIf="accountType.admin" class="nav-item">
            <a class="nav-link"
              id="navUserList"
              (click)="onNavRedirect('user-list')">User List</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link"
              id="navUserAccount"
              (click)="onNavRedirect('user-account')">User Account</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" (click)="onLogout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
