<div class="row modal-form-container">
  <div class="msg-container" id="createIngredientMsgContainer">
    <h5 class="alert alert-msg" id="createIngredientMsg">{{ createMessage }}</h5>
  </div>

  <form [formGroup]="createIngredient" (ngSubmit)="onCreateIngredient()">
    <div class="modal-group-one">
      <section class="form-group">
        <label for="ingredientName">Name: </label>
  
        <input type="text"
          calss="form-field"
          id="ingredientName"
          formControlName="name">
      </section>
    </div>

    <div class="row modal-btn-container">
      <button type="submit"
        class="btn btn-secondary modal-btn"
        id="createIngredientBtn">Create Ingredient</button>

      <button type="button"
        class="btn btn-secondary modal-btn"
        (click)="onCancelCreate()">Cancel</button>
    </div>
  </form>
</div>
