<div class="row">
  <form [formGroup]="login" (ngSubmit)="onLogin()">
    <div class="form-group">
      <label for="username">Username:</label>

      <input type="text"
        class="form-field"
        id="username"
        required
        formControlName="username">
    </div>

    <div class="form-group password-group">
      <label for="password">Password:</label>

      <input type="password"
        class="form-field"
        id="password"
        required
        formControlName="password">

      <i class="far fa-eye show-password"
        aria-label="Show Password"
        (click)="onTogglePassword('#password')"></i>

      <i class="far fa-eye-slash hide-password"
        aria-label="Hide Password"
        (click)="onTogglePassword('#password')"></i>
    </div>

    <div class="row home-btn-container">
      <button type="submit"
        class="btn btn-secondary btn-home"
        id="loginUserBtn">Login</button>
    </div>
  </form>
</div>
