<div class="row modal-form-container">
  <div class="msg-container" id="editIngredientMsgContainer">
    <h5 class="alert alert-msg" id="editIngredientMsg">{{ editMessage }}</h5>
  </div>

  <form [formGroup]="editIngredient" (ngSubmit)="onEditIngredient()">
    <div class="modal-group-one">
      <section class="form-group">
        <label for="#editIngredientName">Name: </label>

        <input type="text"
          class="form-field"
          id="editIngredientName"
          required
          formControlName="name">

        <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="error-text">
          <span *ngIf="name?.errors?.['required']">Name is required</span>

          <span *ngIf="name?.errors?.['pattern']">{{ nameError }}</span>
        </div>
      </section>
    </div>

    <div class="row modal-btn-container">
      <button type="submit"
        class="btn btn-secondary modal-btn"
        id="editIngredientBtn">Edit Ingredient</button>

      <button type="button"
        class="btn btn-secondary modal-btn"
        (click)="onCancelIngredientEdit()">Cancel</button>
    </div>
  </form>
</div>
