:root {
  --color-primary: hsl(210, 9%, 31%);
  --color-secondary: hsl(208, 7%, 46%);
  --color-tertiary: hsl(206, 5%, 61%);
  --color-highlight: hsl(27, 100%, 62%);
  --color-background: hsl(217, 7%, 13%);
  --table-color-secondary: hsl(0, 0%, 87%);
  --table-color-tertiary: hsl(0, 0%, 75%);
  --text-color: hsl(0, 100%, 100%);
  --text-color-backdrop: hsl(210, 11%, 15%);
  --text-color-pop: hsl(27, 100%, 62%);
  --text-color-warning: hsl(355, 95%, 45%);
  --skeleton-color-content: hsl(200, 5%, 75%);
  --error-text: hsl(355, 61%, 32%);
  --error-background: hsl(355, 70%, 91%);
  --error-border: hsl(354, 72%, 86%);

  --base-width: 650px;
  --base-width-wide: 950px;
  --page-title-size: 2.5rem;
  
  --shadow: 2px 3px 8px 1px hsl(0, 0%, 13%);
  --double-outline: double thick var(--color-background);
}

/* =========== */
/* || Table || */
/* =========== */

.table-body {
  margin: auto;
  max-width: var(--base-width-wide);
}

.sortable {
  cursor: pointer;
}

th, td {
  padding: .5rem;
}

th {
  font-family: 'Oswald', sans-serif;
  white-space: nowrap;
}

td:first-child, th:first-child {
  padding-left: 16px;
}

td:last-child, th:last-child {
  padding-right: 16px;
}

.table-entry:nth-child(even) {
  background-color: var(--color-primary);
}

.table-center {
  text-align: center;
}

.table-name {
  min-width: 9rem;
}

.table-data {
  text-transform: capitalize;
}

td>button {
  white-space: nowrap;
}

.table-end {
  display: flex;
  justify-content: center;
  column-gap: .65rem;
  margin: auto;
  max-width: var(--base-width-wide);
}

.table-end-btn {
  margin-top: 1rem;
  width: 80%;
}

@media screen and (min-width: 506px) {
  .table-end-btn {
    width: 9rem;
  }
}

/* ==================== */
/* || Form Group Two || */
/* ==================== */

.form-group-two {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  column-gap: 16px;
  justify-content: space-evenly;
  overflow-x: auto;
}

.form-selection-group-two {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 35%));
  column-gap: 30px;
  justify-content: space-evenly;
  overflow-x: auto;
}

@media screen and (min-width: 992px) {
  .form-selection-group-two {
    column-gap: 0;
  }
}

/* ========== */
/* || Form || */
/* ========== */

.form-group {
  margin: 8px 0;
}

.form-section {
  margin-top: 24px;
  border: solid;
  border-radius: 10px;
  position: static;
}

.form-section-title {
  position: relative;
  top: -16px;
  width: fit-content;
  padding: 0 1rem;
  margin-left: 1rem;
  background-color: var(--color-primary);
}

.form-field {
  padding: 1px 8px;
  width: 100%;
}

.alert-msg {
  text-align: center;
}

label {
  display: block;
}

/* ================= */
/* || Center Form || */
/* ================= */

.content-container {
  max-height: 100vh;
  overflow: hidden;
}

.center-form-container {
  margin: 50vh auto;
  padding: 32px 28px;
  translate: 0 -50%;
  max-width: var(--base-width);
  background-color: var(--color-primary);
  border: solid 1px var(--color-secondary);
}

@media screen and (min-width: 425px) {
  .center-form-container {
    padding: 32px 64px;
  }
}

@media screen and (min-width: 992px) {
  .content-container {
    max-height: calc(100vh - 60px);
  }

  .center-form-container {
    translate: 0 calc(-50% - 60px);
  }
}

@media screen and (max-height: 525px) {
  .content-container {
    overflow: auto;
  }

  .center-form-container {
    margin: auto;
    translate: 0;
  }
}

/* ================= */
/* || Form Button || */
/* ================= */

.home-btn-container {
  margin-top: 16px;
}

.selection-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  text-align: left;
}

.icon-btn-text {
  margin-left: 6px;
}

.selection-btn:hover > div > .selection-plus {
  /* animation-name: hover-rotate;
  animation-duration: 2s; */
  color: greenyellow;
}

/* @keyframes hover-rotate {
  0% { transform: rotateZ(0deg) }
  75% { transform: rotateZ(360deg) }
} */

.minus-container {
  display: none;
}

.selection-btn:hover > div > .selection-minus {
  /* animation-name: hover-spin;
  animation-duration: .75s; */
  color: hsl(0, 100%, 57%);
}

/* @keyframes hover-spin {
  0% { transform: scale(1) }
  75% { transform: scale(.3, 1) }
} */

/* ================= */
/* || Input Field || */
/* ================= */

.two-ch {
  width: 5ch;
  padding: 1px 2px;
  text-align: center;
}

.date-year {
  width: 7ch;
  padding: 1px 2px;
  text-align: center;
}

/* ================ */
/* || Radio Form || */
/* ================ */

.radio-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: fit-content;
  margin: auto;
  padding-bottom: 1rem;
}

@media screen and (min-width: 466px) {
  .radio-container {
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
  }
}

.radio-item:hover {
  cursor: pointer;
}

/* =================== */
/* || Dropdown Form || */
/* =================== */

.dropdown>button {
  border: solid 1px var(--color-secondary);
}

.dropdown>ul {
  padding: 0;
  max-height: 146px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dropdown-item:hover {
  cursor: pointer;
}

/* ============== */
/* || Password || */
/* ============== */

.password-group {
  position: relative;
}

.hide-password {
  display: none;
}

.show-password, .hide-password {
  position: absolute;
  top: 31px;
  right: 10px;
  color: var(--color-secondary);
  cursor: pointer;
}

/* ============ */
/* || Search || */
/* ============ */

.search-group-container {
  margin: 0 -12px;
  padding: 16px 12px;
  top: 0;
  z-index: 1;
  position: sticky;
  background-color: var(--color-background);
  max-width: var(--base-width-wide);
}

@media screen and (min-width: 992px) {
  .search-group-container {
    margin: auto;
    padding: 16px 0;
  }
}

.search-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0;
}

.search-form-group {
  padding-right: 58px;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .search-group {
    padding: 0 20px;
  }

  .search-form-group {
    padding-right: 0;
    width: 60%;
  }
}

.search-form {
  display: grid;
  grid-template-columns: 1fr auto;
}

.search-field {
  border-radius: 5px 0 0 5px;
}

.search-text {
  display: none;
}

@media screen and (min-width: 450px) {
  .search-text {
    display: inline;
  }
}

.search-btn {
  border-radius: 0 5px 5px 0;
  width: fit-content;
}

/* ==================== */
/* || Modal Group Two|| */
/* ==================== */

.selector-title {
  text-align: center;
}

.selector-container {
  margin-bottom: 16px;
  height: clamp(13rem, 50vh, 20rem);
  border: solid 2px var(--color-secondary);
  overflow-y: auto;
}

.selector-option {
  padding: 3px 10px;
}

.selector-option:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
}

.selected {
  background-color: var(--color-secondary);
}

/* =========== */
/* || Modal || */
/* =========== */

.modal-content {
  background-color: var(--color-primary);
}

.modal-form-container {
  margin: 0 .5rem;
}

.modal-group-one {
  margin: auto;
}

@media screen and (min-width: 450px) {
  .modal-group-one {
    width: 70%;
  }
}

.modal-group-one>.form-group>* {
  width: 100%;
}

.modal-title {
  margin: 0;
  text-align: center;
}

.modal-btn-container {
  display: block;
  column-gap: 10px;
  text-align: center;
  margin-top: 16px;
}

.modal-btn {
  width: 60%;
  margin-top: 8px;
}

.modal-btn:first-child {
  margin-top: 0px;
}

@media screen and (min-width: 466px) {

  .modal-btn-container {
    display: flex;
    justify-content: center;
  }

  .modal-btn {
    width: 9rem;
    margin-top: 0;
  }
}

/* =================== */
/* || Order Summary || */
/* =================== */

.summary-details-header {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  text-decoration: underline;
}

.summary-item {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 8px auto;
}

.summary-ingredient {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 8px auto;
}

/* ============ */
/* || Button || */
/* ============ */

.btn-home {
  width: 80%;
  margin: auto;
}

.btn-outline-custom {
  color: var(--text-color);
  border: solid 1px var(--text-color);
}

.btn-outline-custom:hover,
.btn-outline-selected,
.btn-outline-selected:focus {
  background-color: var(--text-color-backdrop);
  border: solid 1px var(--text-color-backdrop);
}

.btn-outline-selected:hover {
  color: var(--text-color);
  border: solid 1px var(--text-color);
  background-color: unset;
}

/* ============== */
/* || Skeleton || */
/* ============== */

.skeleton-data,
.skeleton-data-wide,
.skeleton-data-alt,
.skeleton-data-wide-alt,
.skeleton-btn,
.skeleton-btn-wide {
  margin: auto;
  background-color: var(--skeleton-color-content);
  animation: skeleton 1s linear infinite alternate;
}

.skeleton-data,
.skeleton-data-wide,
.skeleton-data-alt,
.skeleton-data-wide-alt {
  height: 1rem;
}

.skeleton-btn,
.skeleton-btn-wide {
  height: 2.25rem;
}

/* =============== */
/* || Animation || */
/* =============== */

@keyframes skeleton {
  0% { opacity: 40%; }
  100% { opacity: 100%; }
}

/* ============= */
/* || General || */
/* ============= */

body {
  background-color: var(--color-background);
}

h1, h2, h3, h4, h5, h6,
div, p {
  color: var(--text-color);
  font-family: 'Cuprum', sans-serif;
}

label, .modal-title {
  font-family: 'Oswald', sans-serif;
}

.title {
  color: var(--text-color-pop);
  font-family: 'Playfair Display', serif;
}

.sub-title {
  opacity: .5;
  font-family: 'Oswald', sans-serif;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.page-title {
  margin-top: .5rem;
  text-align: center;
  font-size: var(--page-title-size);
  font-family: 'Playfair Display', serif;
}

.page-title::after {
  height: 2px;
  width: clamp(1rem, 70%, 20rem);
  margin: auto;
  translate: 0 .25rem;
  content: '';
  display: block;
  background: 
    linear-gradient(
      to right,
      hsla(27, 100%, 62%, .1),
      hsla(27, 100%, 62%, 1),
      hsla(27, 100%, 62%, .1)
    );
}

@media screen and (min-width: 992px) {
  .page-title {
    text-align: left;
  }

  .page-title::before {
    height: calc(var(--page-title-size) + 1rem);
    width: 3px;
    margin-right: 1rem;
    translate: 0 .85rem;
    display: inline-block;
    content: '';
    background-color: var(--color-highlight);
  }

  .page-title::after {
    content: none;
  }
}

.msg-container, .hide {
  display: none;
}

.error-text {
  margin-top: 5px;
  padding: 2px 8px;
  text-align: right;
  color: var(--error-text);
  background-color: var(--error-background);
  border: solid 1px var(--error-border);
  border-radius: 5px;
}

.scrollable {
  max-height: 65vh;
  overflow-x: auto;
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
}
