:root {
  --background-color: white;
  --table-color-secondary: hsl(0, 0%, 87%);
  --table-color-tertiary: hsl(0, 0%, 75%);
  --color-primary: hsl(0, 0%, 70%);
  --color-secondary: hsl(0, 0%, 85%);
  --color-tertiary: hsl(27, 100%, 62%);
  --base-width: 650px;
}

/* =========== */
/* || Table || */
/* =========== */

.table-body {
  margin: auto;
}

th {
  min-width: fit-content;
}

th, td {
  padding: .5rem 0;
}

td:first-child, th:first-child {
  padding-left: .75rem;
}

td:last-child, th:last-child {
  padding-right: .75rem;
}

.table-entry:nth-child(even) {
  background-color: var(--table-color-secondary);
}

.table-entry:hover {
  background-color: var(--table-color-tertiary);
}

.table-left {
  text-align: left;
}

.table-center {
  text-align: center;
}

.table-data {
  text-transform: capitalize;
}

td>button {
  white-space: nowrap;
}

.table-end {
  display: flex;
  justify-content: center;
  column-gap: .65rem;
  margin-top: 1rem;
}

.table-end-btn {
  width: 9rem;
}

/* ========== */
/* || Form || */
/* ========== */

.modal-form-container {
  margin: 0 .5rem;
}

.form-section {
  border: solid;
  border-radius: 10px;
  position: static;
}

.form-section-title {
  position: relative;
  top: -16px;
  width: fit-content;
  padding: 0 1rem;
  margin-left: 1rem;
  background-color: var(--background-color);
}

.form-group {
  margin: 0 0 2rem;
}

.form-field {
  width: 100%;
}

.last-radio-group {
  margin: 0;
}

.alert-msg {
  text-align: center;
}

label {
  display: block;
}

.radio-container {
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.radio-item:hover {
  cursor: pointer;
}

.password-group {
  position: relative;
}

.hide-password {
  display: none;
}

.show-password, .hide-password {
  position: absolute;
  top: 31px;
  right: 10px;
  color: var(--color-primary);
}

/* =========== */
/* || Modal || */
/* =========== */

.modal-group-one, .modal-group-two {
  display: block;
}

.modal-group-one {
  margin: auto;
}

@media screen and (min-width: 450px) {
  .modal-group-one {
    width: 70%;
  }
}

.modal-group-one>.form-group>* {
  width: 100%;
}

.modal-title {
  text-align: center;
}

.modal-btn-container {
  display: block;
  column-gap: 10px;
  text-align: center;
  margin-top: 16px;
}

.modal-btn {
  width: 60%;
  margin-top: 8px;
}

.modal-btn:first-child {
  margin-top: 0px;
}

@media screen and (min-width: 485px) {
  .modal-group-two {
    display: flex;
    justify-content: space-around;
  }

  .modal-btn-container {
    display: flex;
    justify-content: center;
  }

  .modal-btn {
    width: 9rem;
    margin-top: 0;
  }
}

/* ============= */
/* || General || */
/* ============= */

.scrollable {
  overflow-x: auto;
}

/* ============ */
/* || Button || */
/* ============ */

.btn-home {
  width: 80%;
  margin: auto;
}
