:root {
  --background-color: white;
}

/* =========== */
/* || Table || */
/* =========== */

.table-left {
  text-align: left;
}

.table-center {
  text-align: center;
}

/* ========== */
/* || Form || */
/* ========== */

.modal-form-container {
  margin: 0 .5rem;
}

.modal-group-two {
  display: flex;
  justify-content: space-around;
}

.form-section {
  border: solid;
  border-radius: 10px;
  position: static;
}

.form-section-title {
  position: relative;
  top: -16px;
  width: fit-content;
  padding: 0 1rem;
  margin-left: 1rem;
  background-color: var(--background-color);
}

.form-group {
  margin: 0 0 2rem;
}

.alert-msg {
  text-align: center;
}

label {
  display: block;
}

.radio-container {
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-evenly;
}

/* =========== */
/* || Modal || */
/* =========== */

.modal-title {
  text-align: center;
}

.modal-btn-container {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.modal-btn {
  width: 9rem;
}
