.order-group-container {
  overflow: auto;
}

.order-group {
  display: grid;
  grid-template-columns: 0 1fr 24px 1fr 0;
  width: calc(200vw - 24px);
}

@media screen and (min-width: 576px) {
  .order-group {
    width: 150vw;
  }
}

@media screen and (min-width: 992px) {
  .order-group {
    grid-template-columns: 0 1fr 24px 2fr 0;
    width: auto;
  }
}

/* ========== */
/* || Date || */
/* ========== */

#dateContainer {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  text-align: center;
  border: solid 1px red;
}

#dateSelection,
#timeSelection {
  display: flex;
  margin: 4px auto;
}

#dateSelection>*,
#timeSelection>* {
  margin: 0 5px;
}

#dateSelection>*:first-of-type,
#timeSelection>*:first-of-type {
  margin-left: 0;
}

#dateSelection>*:last-of-type,
#timeSelection>*:last-of-type {
  margin-right: 0;
}

.two-ch {
  width: 5ch;
  text-align: center;
}

#year {
  width: 7ch;
  text-align: center;
}

.error-text {
  text-align: center;
}

/* ====================== */
/* || Order Containers || */
/* ====================== */

.order-container {
  width: clamp(296px, 50%, 400px);
  margin: auto;
}

#listItemContainer {
  padding: 16px;
  height: clamp(300px, 60vh, 80vh);
  overflow: auto;
  border: solid 1px red;
  position: relative;
}

.line-item-card {
  border: solid 1px limegreen;
  padding: 16px;
  margin: 16px 0;
}

.line-item-card:last-of-type {
  background-color: aquamarine;
  margin: 16px 0 0;
}

.line-item-card:first-of-type,
.line-item-card:nth-of-type(2) {
  background-color: aqua;
  margin: 0 0 16px;
}

@media screen and (min-width: 992px) {
  #listItemContainer {
    height: clamp(300px, 50vh, 80vh);
  }
}

/* =================== */
/* || Order Details || */
/* =================== */

.order-header,
.item-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantity-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remove-item {
  border: none;
}

.dropdown {
  display: flex;
  justify-content: flex-end;
}

.item-select {
  margin-bottom: 8px;
}

.item-ingredients {
  display: flex;
  justify-content: flex-start;
}

/* ================= */
/* || Order Total || */
/* ================= */

#totalCostContainer {
  display: flex;
  justify-content: flex-end;
  margin: 8px 16px;
}

#totalCost {
  margin: 0;
}

.group-header {
  text-decoration: underline;
}

.item-details-header,
.ingredient-group {
  display: flex;
  justify-content: space-between;
}

/* ===================== */
/* || Grid End Button || */
/* ===================== */

.grid-end-btn {
  width: 60%;
  margin-bottom: 8px;
}

/* ==================== */
/* || Scroll Buttons || */
/* ==================== */

#fixedLeft,
#fixedRight {
  position: fixed;
  z-index: 3;
  top: 50%;
  translate: 0 -50%;
}

#fixedRight {
  right: 0;
}

#toLeft {
  translate: -100% 0;
  border-radius: 0 10px 10px 0;
}

#toRight {
  translate: 100% 0;
  border-radius: 10px 0 0 10px;
}

.btn-scroll {
  height: 150px;
  opacity: 50%;
  transition-duration: .75s, .3s;
  transition-property: translate, opacity;
}

.btn-scroll:hover {
  opacity: 100%;
}
