.order-group-container {
  overflow: auto;
}

.order-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(296px, auto));
  column-gap: 24px;
  min-width: 616px;
}

/* ========== */
/* || Date || */
/* ========== */

#dateContainer {
  margin: 16px;
}

.two-ch {
  width: 5ch;
  text-align: center;
}

#year {
  width: 7ch;
  text-align: center;
}

/* ====================== */
/* || Order Containers || */
/* ====================== */

.order-container {
  width: clamp(296px, 50%, 400px);
  margin: auto;
}

.list-item-container {
  padding: 16px;
  height: clamp(300px, 65vh, 80vh);
  overflow: auto;
  border: solid 1px red;
  position: relative;
}

.line-item-card {
  border: solid 1px limegreen;
  padding: 16px;
  margin: 16px 0;
}

.line-item-card:last-of-type {
  background-color: aquamarine;
  margin: 16px 0 0;
}

.line-item-card:first-of-type {
  background-color: aqua;
  margin: 0 0 16px;
}

/* =================== */
/* || Order Details || */
/* =================== */

.order-header,
.item-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantity-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown {
  display: flex;
  justify-content: flex-end;
}

.item-ingredients {
  display: flex;
  justify-content: flex-start;
}

/* ================= */
/* || Order Total || */
/* ================= */

#totalCostContainer {
  margin: 16px;
  display: flex;
  justify-content: flex-end;
}

#totalCost {
  margin: 0;
}

.group-header {
  text-decoration: underline;
}

.item-details-header,
.ingredient-group {
  display: flex;
  justify-content: space-between;
}
