/* ========== */
/* || Grid || */
/* ========== */

.main-grid {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(0, 25rem) minmax(0, 65rem) minmax(1rem, 1fr);
  grid-template-rows: minmax(1rem, 1fr) auto minmax(1rem, 1fr);
  overflow: hidden;
}

.side-content {
  grid-area: 1 / 1 / span 3 / span 2;
}

.main-content {
  grid-area: 2 / 3 / span 1 / span 1;
  width: clamp(375px, 60%, 460px);
  margin: auto;
  padding: 2rem 0;
  background-color: var(--color-primary);
  border: solid 2px var(--color-secondary);
}

/* ========== */
/* || Form || */
/* ========== */

.form-container {
  width: 75%;
  margin: auto;
}

#homeMsg {
  margin: 0 16px 16px;
}

#registerContainer {
  display: none;
}

/* ========== */
/* || Tabs || */
/* ========== */

.tabs {
  display: flex;
}

.tab-header {
  width: 30%;
  text-align: center;
}

.tab-header:hover {
  cursor: pointer;
  color: var(--color-tertiary);
  transition: .3s;
}

.tab-header::after {
  height: 3px;
  width: 0;
  margin: 11px auto 0;
  display: block;
  content: '';
  background: transparent;
  transition: .3s;
}

.tab-header:hover::after {
  width: 100%;
  background: var(--color-tertiary);
}

.active-tab {
  box-shadow: 0 -3px 0 0 var(--color-tertiary) inset;
  color: var(--color-tertiary);
  transition: .3 ease-out;
}
