<div class="row">
  <div class="msg-container" id="editItemIngredientMsgContainer">
    <h5 class="alert alert-msg" id="editItemIngredientMsg">{{ editItemIngredientMessage }}</h5>
  </div>

  <div class="form-selection-group-two">
    <div class="modal-selector-container">
      <div class="selector-group">
        <h4 class="selector-title">Item</h4>
  
        <div class="selector-container">
          <div *ngFor="let ingredient of ingredientList"
            class="selector-option"
            id="{{ ingredient._id }}"
            (click)="toRemove(ingredient)">{{ ingredient.name }}
          </div>
        </div>
      </div>
    </div>
  
    <div class="modal-selector-container">
      <div class="selector-group">
        <h4 class="selector-title">Ingredients</h4>
  
        <div class="selector-container">
          <div *ngFor="let ingredient of fullIngredientList"
            class="selector-option"
            id="{{ ingredient._id }}"
            (click)="toAdd(ingredient)">{{ ingredient.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="modal-btn-container">
    <button type="button"
      class="btn btn-secondary modal-btn"
      id="editItemIngredientBtn"
      (click)="onUpdate()">Update</button>

    <button type="button"
      class="btn btn-secondary modal-btn"
      (click)="onCancel()">Cancel</button>
  </div>
</div>
