<div class="row">
  <div id="editItemIngredientMsgContainer">
    <h5 class="alert alert-msg" id="editItemIngredientMsg">{{ editItemIngredientMsg }}</h5>
  </div>

  <div class="modal-group-two">
    <div class="modal-selector-container">
      <div class="item-ingredient-list">
        <h4 class="edit-item-ingredient-title">Item</h4>
  
        <div class="ingredient-container">
          <div *ngFor="let ingredient of ingredientList"
            class="item-ingredient"
            id="{{ ingredient._id }}"
            (click)="toRemove(ingredient)">{{ ingredient.name }}
          </div>
        </div>
      </div>
    </div>
  
    <div class="modal-selector-container">
      <div class="edit-ingredient-list">
        <h4 class="edit-item-ingredient-title">Ingredients</h4>
  
        <div class="ingredient-container">
          <div *ngFor="let ingredient of fullIngredientList"
            class="item-ingredient"
            id="{{ ingredient._id }}"
            (click)="toAdd(ingredient)">{{ ingredient.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="modal-btn-container">
    <button type="button"
      class="btn btn-secondary modal-btn"
      id="updateIngredientBtn"
      (click)="onUpdate()">Update</button>

    <button type="button"
      class="btn btn-secondary modal-btn"
      id="cancelUpdateIngredientBtn"
      (click)="onCancel()">Cancel</button>
  </div>
</div>
