/* ============= */
/* || Message || */
/* ============= */

#editIngredientMsgContainer {
  display: none;
}

/* =========== */
/* || Modal || */
/* =========== */

.modal-group-two {
  overflow: auto;
}

.modal-selector-container {
  width: 16rem;
  margin: auto;
}

.edit-item-ingredient-title {
  text-align: center;
}

.ingredient-container {
  border: solid .15rem;
  height: 16rem;
  overflow-y: auto;
}

.item-ingredient {
  text-align: left;
  padding: .25rem .5rem;
}

.item-ingredient:hover {
  cursor: pointer;
}

.selected {
  background-color: var(--table-color-tertiary);
}
